@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
  --font-serif: var(--font-cormorant);
  --font-script: var(--font-dancing);
  --font-caveat: var(--font-caveat);
  --font-garamond: var(--font-garamond);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-garamond);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}